/* Footer.css */
.footer {
    background-color: #4b2e83; /* Purple background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
